@font: #111a34;
@gray: #4e5969;
@lightGray: #858b9c;
@paleGray: #c5cad5;
@border: #f6f7f9;
@primary: #03b882;
@red: #f05656;
@blue: #2f8fee;
@green: #27ae60;
@yellow: #ffa033;
@skyblue: #add8e6;
