

@import 'src/styles/vars';

.focused {
  border-color: @gray;
  box-shadow: none;
}

.hover {
  &:hover {
    color: #fff;
    background-color: @primary;
    border-color: @primary;
    background: @primary;
  }
}

.BaseData {
  min-height: calc(100vh - 76px);

  .ant-table-filter-trigger {
    margin-inline: 0;
  }

}

.Data-modal {
  .add-modal {
    .ant-modal-content {
      border-radius: 4px;
    }

    .ant-modal-header {
      padding: 16px 24px;
      border-radius: 4px;
    }

    .ant-modal-title {
      font-size: 16px;
      font-weight: 400;
    }

    .ant-modal-body {
      padding: 0 24px;
    }

    .ant-modal-footer {
      padding: 0 24px 32px;
      border-top: none;
    }

    .ant-form-item {
      margin: 16px 0;
    }

    .ant-form-item-label {
      padding: 0 0 8px;

      &>label {
        color: rgba(#000, 0.85);
        font-size: 14px;
      }
    }

    .ant-input,
    .ant-picker {
      width: 100%;
    }

    .file-name {
      margin-left: 12px;
    }

    .ant-btn-primary {
      background-color: @primary;
      background: @primary;
      .hover();
    }

    .ant-btn-primary:disabled {
      background-color: @border;
      border-color: @border;
    }

    .ant-btn-primary.ant-btn-background-ghost {
      color: @primary;
      background-color: #fff;
      border-color: @primary;
      .hover();
    }

    .ant-btn-primary.ant-btn-background-ghost:disabled {
      background-color: @border;
      border-color: @border;
      color: #4c5c6b;
    }

    .ant-btn-link {
      color: @primary;

      &:hover {
        color: @primary;
      }
    }

    .ant-select {
      .ant-select-selector {
        &:hover {
          border-color: @primary !important;
          box-shadow: none;
        }
      }

      .ant-select-selection-item,
      .ant-select-selection-placeholder {
        color: #4c5c6b;
      }

      &.ant-select-focused .ant-select-selector {
        border-color: @primary !important;
        box-shadow: none;
      }

    }

    .ant-input-affix-wrapper {
      input {
        background: none;
        color: #333;

        &::placeholder {
          color: #4c5c6b;
        }
      }

      &:hover,
      &.ant-input-affix-wrapper-focused {
        border-color: @primary !important;
        box-shadow: none;
      }
    }

    .ant-input-outlined {

      &:hover,
      &:focus {
        border-color: @primary !important;
        box-shadow: none;
      }
    }


    .ant-input-number {

      input::placeholder {
        color: #4c5c6b;
      }

      &:hover,
      &.ant-input-number-focused {
        border-color: @primary !important;
        box-shadow: none;
      }
    }


    .ant-picker {

      input::placeholder {
        color: #4c5c6b;
      }

      &:hover,
      &.ant-picker-focused {
        border-color: @primary !important;
        box-shadow: none;
      }
    }




    .inner {
      .ant-form-item {
        margin: 16px 0;
      }

      .ant-form-item-label {
        padding: 0 0 8px;

        &>label {
          color: rgba(#000, 0.85);
          font-size: 14px;
        }
      }

      .ant-input,
      .ant-picker {
        width: 100%;
      }

      .file-name {
        margin-left: 12px;
      }
    }

    .foot {
      padding-bottom: 32px;
      text-align: right;
    }
  }
}